<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <img class="aboutImage" src="./assets/gif/poke.gif" />
            <p class="aboutProject">Created this project as part of learning the basics to Node.js. Majorly using two APIs, &nbsp;<a href="https://docs.mapbox.com/api/search/geocoding/">Gecoding API</a>&nbsp; by MapBox and&nbsp;<a href=""> Current weather data
                API</a> &nbsp;by OpenWeather.</p>
            {{>footer}}
        </div>
    </body>
</html>