<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="./js/trial.js"></script>
    </head>
    <body>
        <div class="main">
            <div class="helpContent">
                {{>header}}
                <p class="help">{{helpText}}</p>
            </div>
            <div class="helpFooter">
                {{>footer}}
            </div>
        </div>
        
    </body>
</html>