<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="./js/trial.js"></script>
    </head>
    <body>
        <div class="main">
            {{>header}}
            <p class="help">{{helpText}}</p>
            {{>footer}}
        </div>
        
    </body>
</html>